#main-navbar {
background-color: blue;
overflow: hidden;
}

#navbar-container {
float: left;
width: 1em;
position: relative;
}

#main-navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
position: relative;
left: 50%;
float: left;
}

#main-navbar ul li {
float: left;
position: relative;
right: 50%;
display: block;
}

#main-navbar ul li a {
display: block;
padding: 10px 20px;
color: #fff;
text-decoration: none;
}

#main-navbar ul li a:hover {
color: black;
background-color: skyblue;
border-radius: 50px;
text-transform: uppercase;
}

#onpage {
text-decoration: underline overline;
}

.nec a{
	text-decoration: none;
	
	color: green;
}

.nec a:hover{
	text-transform: uppercase;
}



.interest {
background-color: gray;
list-style-type: none;
margin: auto;
padding: 20px;
position: relative;
left: 42%;
float: left;
margin-top: 20px;
}

.interest2 li{
list-style-type: none;
margin-left: -35px;
text-align: center;
padding-bottom: 10px;


}


}

.interest2 {
  list-style-type: none;
  width: 170px;
  border-radius: 15px;
  padding: 7px;
  display: block;
  margin: auto;
}
.interest2:hover{
text-transform: uppercase;
transform: scale(1.3);
cursor: pointer;
color: white;
}

.name{
background-color: #8E7618;
text-align: center;

}

.box{
height: 130px;
padding: 20px;
background-color: skyblue;

}

#clickme{
	background-color: green;
	border-radius: 80px;
	padding-top: 10px;
	
}

#interest{
background-color: green;
text-align: center;
}



@media screen and (min-width: 400px) {
  body {
    background-image: url("../image/banner.png");
  }
}

@media screen and (min-width: 800px) {
  body {
    background-image: url("../image/nencoin.png");
  }
}
